---
import RyojiLayout from "../layouts/RyojiLayout.astro";
import CopyrightBlurb from "../../../../packages/universal-components/copyright-blurb.astro";

const title = "Copyright";
const description = "A fansite dedicated to Ryoji Mochizuki from Persona 3";
const isFansite = true;
---
<RyojiLayout title={title} description={description}>
    <section class="col-12">
        <h2>{title}</h2>
        <CopyrightBlurb isFansite={isFansite}>
            <li>The header image, illustrated by Shuji Sogabe, taken from Volume 11 of the Persona 3 Manga.</li>
            <li>The fonts used on the site, of which are free for commercial and personal use under the <a href="https://openfontlicense.org/">SIL Open Font License</a>:</li>
            <ul>
                <li><a href="https://fontesk.com/caramel-font/">Caramel</a> &copy; Rob Leuschke</li>
                <li><a href="https://fontesk.com/ictu-oculi-typeface/">Ictu Oculi</a> &copy; Michele Casanova</li>
            </ul>
        </CopyrightBlurb>
    </section>
</RyojiLayout>