---
import RyojiLayout from "../layouts/RyojiLayout.astro";
import CopyrightBlurb from "../../../../packages/universal-components/copyright-blurb.astro";

const title = "Copyright";
const description = "A fansite dedicated to Ryoji Mochizuki from Persona 3";
const isFansite = true;
---
<RyojiLayout title={title} description={description}>
    <section class="col-12">
        <h2>{title}</h2>
        <CopyrightBlurb isFansite={isFansite}>
            <li>FONT!!</li>
        </CopyrightBlurb>
    </section>
</RyojiLayout>