---
import RyojiLayout from "../layouts/RyojiLayout.astro";

const title = "Persona 3 - A Recap";
const description = "A fansite dedicated to Ryoji Mochizuki from Persona 3";
---
<RyojiLayout title={title} description={description}>
    <h2>{title}</h2>
    <div class="col-12">
        <p><i>Persona 3</i> is, ironically, the fourth main installment in the Persona series (Persona 2 is a duology. Don't worry about it). It was released originally in 2006 on the Playstation 2. It's a roleplaying game developed by Atlus and directed/produced by Katsura Hashino. It's been rereleased, remade, adapted into a manga, a movie series, a set of stageplays, and most recently, remade from scratch in 2024.</p>
        <p>The general series is made up of games that meld turn-based combat with slice of life/friendship simulator mechanics through the shoes of high schoolers. While none of the games are directly connected by plot or major characters, each game shares a magic system and takes place in the very same alternate-Earth Japan.</p>
        <h3>Understanding Persona</h3>
        <p>To best understand the Persona series and its concepts, specifically in the context of Ryoji and how crazy his lore gets, it's important to understand that Persona is a spinoff of a larger franchise called <em>Shin Megami Tensei</em> (SMT). SMT is a series of games about gods, demons, apocalypses and morality. They base themselves heavily on worldwide mythology, relgion and esoteric philosophical theories.</p>
    </div>
</RyojiLayout>