:root {
    --sea: #11121d;
    --void: #0a0b16;
    --soul: #b1b1c0;
    --hope: #c37e41;
    --love: #e3db95;
}

@font-face {
    font-family: Yesterday;
    src: url(/fonts/yesterday.ttf);
}

@font-face {
    font-family: RoadizSans;
    src: url(/fonts/roadizsans-mono-webfont.ttf);
}

@font-face {
    font-family: IctuOculi;
    src: url(/fonts/IctuOculi-RegularRoman.ttf);
}

#title {
    margin-top: -300px;
    width: fit-content;
    h2 {
        margin-top: -30px;
        margin-left: 90pt;
        font-size: 12pt;
    }
}

.focus {
    color: var(--hope);
}

h1 {
    font-family: Yesterday, cursive;
    font-size: 100pt;
    font-weight: 1000;
}

h2 {
    margin-bottom: 1rem;
}

h2, h3, h4 {
    font-family: RoadizSans, sans-serif;
}

p, li {
    font-size: 13pt;
}

a {
    color: var(--hope);
    text-decoration: none;
}

a:hover:not(.no-style) {
    color: var(--love);
}

footer {
    margin-top: 100px!important;
}

body {
    background: 
        top -100px left / auto 100vh no-repeat url(/images/ryoji-header.png),
        var(--sea);
    color: var(--soul);
    font-family: IctuOculi, serif;
}

nav {
    margin-top: -80px!important;
    font-family: RoadizSans, sans-serif;
    text-transform: uppercase;
    &.article-jump {
        margin-top: initial!important;
    }
}

.nav-link {
    color: var(--soul);
    transition: none;
}

figcaption {
    text-align: center;
}

ol {
    list-style-type: upper-roman;
    & ol {
        list-style-type: lower-roman;
    }
}

blockquote {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: var(--soul) 2pt solid;
}

.profile-box {
    margin-bottom: 2rem;
    p {
        line-height: 1;
    }
    img {
        height: 320px;
        margin-right: 2rem;
        border: var(--soul) 2pt solid;
    }
}

.container {
    margin-top: 350px;
    max-width: 1000px;
    background-color: var(--void);
}

.subtle, em, strong {
    opacity: 50%;
}

.no-style {
    color: var(--soul);
    text-decoration: none;
}