:root {
    --sea: #11121d;
    --void: #0a0b16;
    --soul: #b1b1c0;
    --hope: #c37e41;
}

@font-face {
    font-family: Caramel;
    src: url(/fonts/Caramel-Regular.ttf);
}

@font-face {
    font-family: RoadizSans;
    src: url(/fonts/roadizsans-mono-webfont.ttf);
}

@font-face {
    font-family: IctuOculi;
    src: url(/fonts/IctuOculi-Regular.ttf);
}

#title {
    margin-top: -250px;
    h2 {
        margin-top: -30px;
        margin-left: 80pt;
        font-size: 12pt;
    }
}

.focus {
    color: var(--hope);
}

h1 {
    font-family: Caramel, cursive;
    font-size: 100pt;
}

h2, h3, h4 {
    font-family: RoadizSans, sans-serif;
}

p {
    font-size: 13pt;
}

footer {
    margin-top: 100px!important;
}

body {
    background: 
        top -100px left / auto 100vh no-repeat url(/images/ryoji-header.png),
        var(--sea);
    color: var(--soul);
    font-family: IctuOculi, serif;
}

ol {
    list-style-type: upper-roman;
    & ol {
        list-style-type: lower-roman;
    }
}

em {
    color: #838cb3
}

.container {
    margin-top: 350px;
    max-width: 1000px;
    background-color: var(--void);
}

.subtle {
    opacity: 50%;
}