:root {
    --sea: #11121d;
    --void: #0a0b16;
    --soul: #b1b1c0;
    --hope: #c37e41;
}

body {
    min-height: 100vh;
    background: 
        top left / auto 100vh no-repeat url(/images/ryoji-header.png),
        var(--sea);
    color: #d1d1d1
}

footer {
    position: absolute;
    bottom: 0;
}

ol {
    list-style-type: upper-roman;
    & ol {
        list-style-type: lower-roman;
    }
}

em {
    color: #838cb3
}

.container {
    margin-top: 400px;
    min-height: 100vh;
    max-width: 1000px;
    background-color: var(--void);
}

.subtle {
    opacity: 50%;
}