---
import SectionOneColumn from "../../components/SectionOneColumn.astro";
import MainLayout from "../../layouts/MainLayout.astro";

const title = "The Sims";
const description = "My Sims 4 Legacy Challenge.";
---
<MainLayout title={title} description={description}>
    <SectionOneColumn>
        Hello this page is so nothingburger right now. It will be less nothingburger soon, probably with some fancy Sims themed CSS too. I just wanted to start uploading some TS4 play session overviews for my friends ^-^
        <h3>Basilio Legacy</h3>
        <a href="/basilio-g1">Generation 1: Rags to Nuclear Family</a>
    </SectionOneColumn>
</MainLayout>