---
import { CopyrightBlurb } from "../../../../packages/universal-components";
import SectionOneColumn from "../components/SectionOneColumn.astro";
import MainLayout from "../layouts/MainLayout.astro";

const currentYear = new Date().getFullYear();

const title = "Copyright";
const description = "Obligatory licensing information for the contents of this website.";
const isFansite = false;
---
<MainLayout title={title} description={description}>
    <SectionOneColumn>
        <CopyrightBlurb isFansite={isFansite}>
            <li>The fonts used on the site, of which are free for commercial and personal use under the <a href="https://openfontlicense.org/">SIL Open Font License</a>:</li>
            <ul>
                <li><a href="https://www.1001fonts.com/manrope-font.html">Manrope</a> &copy; The Manrope Project Authors</li>
                <li><a href="https://www.1001fonts.com/bree-serif-font.html">Bree Serif</a> &copy; Veronika Burian, José Scaglione</li>
            </ul>
            <li>The contents of any fansites or shrines, which are attributed back to their original copyright holders and who have all rights reserved.</li>
        </CopyrightBlurb>
    </SectionOneColumn>
</MainLayout>