:root {
    --color: #fff:

    /* mascot vars */
    --mascot-width: 400px;
    --h-offset: calc(var(--mascot-width)/2);
    --v-offset: 200px;
}

body {
    background-color: rgb(64, 88, 124);
}

.container {
    background-color: rgb(255, 255, 255);
}

header {
    height: 300px;
}

/* EXTRA LARGE SCREENS & UP */
@media only screen and (min-width: 1200px) {
    #mascot {
        float: left;
        transform: translateY(calc(-1*var(--v-offset)));
        shape-outside: inset(0 0 var(--v-offset) 0);
    }

    .navbar {
        position: relative;
        left: 50%;
        transform: translateX(-50%) translateX(var(--h-offset));
        width: calc(100% - var(--h-offset));
    }
}