:root {
    --night: #5665a5;
    --dim: #8897be;
    --sky: #cdd3e0;
    --aura: #e36b26;
    --glow: #f0ca8f;
    --shine: #f0ddb0;
    --radiant: #ebe9db;
    --twilight: #594a46;
    --deep: #322a28;

    /* mascot vars */
    --mascot-width: 400px;
    --h-offset: calc(var(--mascot-width)/2);
    --v-offset: 250px;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/manrope-light.woff");
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "BreeSerif";
    src: url("/fonts/BreeSerif-Regular.woff");
    font-style: normal;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: var(--aura);
}

a:hover {
    color: var(--glow);
}

body {
    background: 
        repeat-x url(../../src/images/header-bottom-bg.png) 0 350px,
        no-repeat center top / auto 600px url(../../src/images/sunset-bg.png),
        linear-gradient(var(--sky), var(--sky)) center top 600px / auto calc(100% - 600px) no-repeat,
        var(--night);
    overflow-x: hidden;
    color: var(--deep);
    font-family: 'Manrope', sans-serif;
}

h2 {
    line-height: 0px;
    text-align: center;
    transform: translateY(-35px);
    font-size: 25pt;
}

h2, h3, h4 {
    font-family: "BreeSerif", serif;
}

.container {
    max-width: 1200px;
}

header {
    height: 300px;
    margin-top: 100px!important;
    margin-bottom: -100px;
}

#logo {
    margin-top: -75px;
}

nav {
    --nav-expand: 100px;

    position: relative;
    left: calc(-1 * var(--nav-expand)); /* Move the navbar 200px to the left */
    width: calc(100% + (2*var(--nav-expand))); 

    background-color: var(--sky);
    border: 3px var(--twilight) solid;
}

main {
    min-height: 700px;
    position: relative;
    background-color: var(--radiant);
    border-left: var(--twilight) 3px solid;
    border-right: var(--twilight) 3px solid;
    padding: .5rem 1.5rem 150px;
}

main::before {
    content: " ";
    z-index: -1;
    position: absolute;
    inset: 0 -30px;
    padding-left: 30px;
    background-color: var(--glow);
    border-left: var(--twilight) 3px solid;
    border-right: var(--twilight) 3px solid;
}

footer {
    background: repeat-x url(../../src/images/footer-top.png);
    height: 282px;
    color: var(--radiant);
    margin-top: -160px!important;
    z-index: 100;
    position: relative;
    & > div {
        padding-top: 100px;
        position: relative;
        bottom: -264px !important;
    }
}

.footer-filler {
    content: "";
    height: 200px;
    background-color: var(--night);
}

.cloud-topper-filler {
    height: 100%;
    margin-left: 190px;
    margin-right: 190px;
    background: url(../../src/images/cloud-header-filler.png) repeat-x;
}

.cloud-topper {
    height: 102px;
    margin-left: -3px;
    margin-right: -3px;
    background: 
        url(../../src/images/cloud-header-corner-sm-l.png) no-repeat,
        url(../../src/images/cloud-header-corner-sm-r.png) right 0 no-repeat;
}

/* MEDIUM SCREENS & UP */
@media only screen and (min-width: 768px) {
    .cloud-topper {
        height: 105px;
        background: 
            url(../../src/images/cloud-header-corner-l.png) no-repeat,
            url(../../src/images/cloud-header-corner-r.png) right 0 no-repeat;
    }

    main {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

/* EXTRA LARGE SCREENS & UP */
@media only screen and (min-width: 1200px) {
    #mascot {
        float: left;
        margin-right: 1rem;
        transform: translateY(calc(-1*var(--v-offset)));
        shape-outside: inset(0 0 var(--v-offset) 0);
    }

    .navbar.mascotActive .navbar-nav, h2.mascotActive {
        position: relative;
        left: var(--h-offset);
    }
}

/* NONESSENTIAL COMPONENTS */
.card {
    background-color: var(--shine);
    border: 2px var(--glow) solid;
    border-radius: 0;
    padding: 0.5rem;
    p:last-child {
        margin-bottom: 0;
    }
}