:root {
    --color: #fff:
}

body {
    background-color: rgb(64, 88, 124);
}

.container {
    background-color: rgb(255, 255, 255);
}

header {
    height: 300px;
}

/* EXTRA EXTRA LARGE SCREENS & UP */
@media only screen and (min-width: 1400px) {
    #mascot {
        transform: translateY(-200px);
    }
}