:root {
    --tan: #D6B594;
    --dark: #542626;
    --orange: #EA7A31;
    --reddish: #dd4c24;
    --light: #F9E9C8;
    --white: #EFF5F1;
    --medium: #EE9F3A;
    --yellow: #F8D790;
    --teal: #2E9292;
    --blue: #1F6D6F;

    --onerowheight: 634px; /* add 16px to sidebar column below var*/
}

html {
    min-height: 100%;
    min-width: 1200px;
}

body {
    background: 
    no-repeat url(../../src/images/graveyard/pagebg.png), 
    url(../../src/images/graveyard/startile.png),
    linear-gradient(0deg, rgba(210,107,7,1) 0%, rgba(25,65,66,1) 30%);
    background-position: center -100px, 0, 0;
    background-repeat: no-repeat, repeat, no-repeat;
    background-size: 1600px auto, 300px, 150%;
    font-family: 'Manrope', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    color: var(--dark);
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

em, a {
    color: var(--reddish);
    text-decoration: none;
}

a:hover {
    color: var(--orange)
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 17pt;
}

h3 {
    font-size: 15pt;
}

#page {
    max-width: 1000px;
    margin: auto;
}

#newscroller {
    background: no-repeat url(../../src/images/graveyard/banner.png);
    position: absolute;
    bottom: 0;
    transform: translate(-58px, 30px);
    width: 1108px;
    height: 49px;
    z-index: 10;
    padding-right: 45px!important;
    padding-left: 45px!important;
    filter: drop-shadow(5px 5px 5px #3a2525c4);
}

#title {
    transform: translateY(135px);
    position: relative;
    margin: auto;
    display: block;
    z-index: 12;
    filter: drop-shadow(5px 5px 5px #3a252598);
}

.header {
    background: no-repeat url(../../src/images/graveyard/headerbg.png);
    background-position: center;
    height: 350px;
}

.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 1200px;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 25%;
    pointer-events: none;
    z-index: 999;
    background: url("../../src/images/graveyard/overlay.png") repeat;
  }

.top {
    background: 
        url(../../src/images/graveyard/topcontent.png) top 19px left 17px no-repeat,
        url(../../src/images/graveyard/topcurve.png) no-repeat,
        url(../../src/images/graveyard/divider.png) bottom 0px left 27px no-repeat;
}

.mid {
    background: url(../../src/images/graveyard/divider.png) bottom 0px left 27px no-repeat;
}

.btm {
    background: 
        url(../../src/images/graveyard/bottomcontent.png) bottom 19px left 17px no-repeat,
        url(../../src/images/graveyard/bottomcurve.png) bottom 0px left 0px no-repeat; 
}

.topbtm {
    background: 
        url(../../src/images/graveyard/topcontent.png) top 19px left 17px no-repeat,
        url(../../src/images/graveyard/topcurve.png) no-repeat,
        url(../../src/images/graveyard/bottomcontentsidebar.png) bottom 19px left 17px no-repeat,
        url(../../src/images/graveyard/bottomcurve.png) bottom 0px left 0px no-repeat; 
}

.wrapper {
    background: 
        url(../../src/images/graveyard/contentwrapper.png) bottom 19px left 5px repeat-y,
        url(../../src/images/graveyard/borderwrapper.png) -12px repeat-y;
    transform: translateX(13px);
}

.poster {
    background-color: var(--tan);
    border: 2pt solid var(--dark);
}

.sideheader {
    background: url(../../src/images/graveyard/sideheaders.png) no-repeat 0 -58px;
    height: 49px;
    text-align: left;
    padding: 11px 7px;
    margin-bottom: 0px;
}

.sideheader.top {
    background: url(../../src/images/graveyard/sideheaders.png) no-repeat 0 0;
}

.sideheader.top.right {
    background: url(../../src/images/graveyard/sideheaders.png) no-repeat 0 -117px;
    text-align: right;
}

.sideheader.right {
    background: url(../../src/images/graveyard/sideheaders.png) no-repeat 0 -175px;
    text-align: right;
}

.statusbox {
    margin-left: 33px;
    height: 190px;
    background:url(../../src/images/graveyard/statusbg.gif);
    color: var(--dark)
}

#statuscafe-username {
    display: none;
}

#statuscafe-content { 
    padding: 10px 10px 65px;
    height: 190px;
}

.updatesbox {
    background-color: var(--light);
    border: 2pt solid var(--dark);
}

.updatesheader {
    padding-bottom: 8px;
    width: 683px;
    background: url(../../src/images/graveyard/updatesheader.png) no-repeat;
}

.guestbookheader {
    background: url(../../src/images/graveyard/guestbookheader.png) no-repeat;
    transform: translateY(18px)
}

.guestbook {
    background: url(../../src/images/graveyard/guestbookbackground.png) no-repeat;
    height: 520px;
}

.stickynote {
    border: 2pt solid var(--dark);
    background: var(--yellow);
    height: 370px;
}

.navbox {
    background: var(--yellow);
    border: 2pt solid var(--dark);
}

.currently {
    list-style-type: none;
    background: var(--white);
    border: 2pt solid var(--dark);
    height: 290px;
    overflow: hidden;
}

.currently hr {
    margin: 5px -1rem;
}

.button {
    background-color: var(--orange);
    padding: .5rem;
    font-weight: 600;
    display: inline-block;
    margin: -1rem 0rem;
    border: solid 2pt var(--dark)
}

.button a {
    color: var(--white)
}

.button:hover {
    background-color: var(--medium);
}

.sidebar {
    margin-top: -23px;
    margin-right: -15px;
    margin-left: -17px;
}

.ringcontainer {
    column-count: 1;
}

.ring {
    display: inline-block;
    width: 100%;
    padding: .75rem;
    background: var(--yellow);
    border: 2pt solid var(--dark);
}

.buttonbox {
    background-color: var(--light);
    border: 2pt solid var(--dark)
}

.sitebutton {
    display: inline-block;
    height: 31px;
    width: 88px;
    border: 2pt solid var(--dark);
    background-color: var(--yellow);
}

.webheader {
    background: url(../../src/images/graveyard/webheader.png) no-repeat 17px -5px;
}

.card {
    border-radius: 0;
    background-color: #00000000!important;
    border: 0;
}

.list-group {
    text-align: left;
    width: 85%;
    border-radius: 0;
    font-weight: 400;
}

.list-group.left {
    border-right: 5pt solid var(--orange);
}

.list-group.right {
    border-left: 5pt solid var(--orange);
}

.list-group.filler {
    background-color: var(--light);
    position: absolute;
    width: 189.35px;
    bottom: 0;
    top: 0;
    left: 1.1rem;
    z-index: -10;
}

.list-group-item.list-group-item-action.active {
    background-color: var(--orange);
    border: 0;
}

.list-group-item.list-group-item-action {
    background-color: transparent;
    border: 0;
}

.list-group-item.list-group-item-action:hover {
    background-color: var(--medium);
}

.embed-responsive {
    width: initial;
}

figcaption {
    font-size: 10pt!important;
}

/* BUTTON ANIMATION START */
.marquee {
    --gap: 1px;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    min-width: 996px!important;
    margin: 0 -4px;
    border-top: .25rem solid var(--beige);
    border-bottom: .25rem solid var(--beige);
}

.bannerroll {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    animation: scroll 20s linear infinite;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 0px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}
/* BUTTON ANIMATION END */