body {
    min-height: 100vh;
    background-color: #1f1f1f;
    color: #d1d1d1
}

footer {
    position: absolute;
    bottom: 0;
}

ol {
    list-style-type: upper-roman;
    & ol {
        list-style-type: lower-roman;
    }
}

em {
    color: #838cb3
}

.container {
    min-height: 100vh;
    background-color: #323232;
}

.subtle {
    opacity: 50%;
}