:root {
    --blue: #3770a8;
}

@font-face {
    font-family: "ITC Kabel Std";
    src: url("/fonts/ITCKabelStdBold.TTF");
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Sims Sans Bold";
    src: url("/fonts/thesimssansbold.otf");
    font-style: normal;
    text-rendering: optimizeLegibility;
}

body {
    background: var(--blue);
}

h1 {
    font-family: "ITC Kabel Std";
}

h2, h3, h4 {
    font-family: "Sims Sans Bold";
}