:root {
    --blue: #3770a8;
    --green: #60b993;
    --highlight: #b4fad5;
    --whitebg: #ffffff;
    --secondarybg: #babbc0;
}

@font-face {
    font-family: "ITC Kabel Std";
    src: url("/fonts/ITCKabelStdBold.TTF");
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Sims Sans Bold";
    src: url("/fonts/thesimssansbold.otf");
    font-style: normal;
    text-rendering: optimizeLegibility;
}

body {
    background: var(--blue);
    background: linear-gradient(90deg, rgba(55, 112, 168, 1) 0%, rgba(180, 250, 213, 1) 50%, rgba(96, 185, 147, 1) 100%);
}

h1 {
    font-family: "ITC Kabel Std";
}

h2, h3, h4 {
    font-family: "Sims Sans Bold";
}

.container {
    max-width: 1000px;
}

main {
    background-color: var(--whitebg);
}