---
import "bootstrap/dist/css/bootstrap.min.css";
import { parseStringPromise } from "xml2js"
import { FooterText } from "../../../../packages/universal-components";

let latestDate = '';
const filename ="changelog-rss.xml"
const siteURL = "https://lastsunrise.art";

try {
    const changelogPath = await fetch(`${siteURL}/${filename}`);
    const xmlContent = await changelogPath.text();
    const parsed = await parseStringPromise(xmlContent);
    const items = parsed.rss.channel[0].item;
    const fullDate = new Date(items[0].pubDate[0]); // grab newest date in CL
    latestDate = fullDate.toDateString();
} catch (error) {
    console.error("OOPS", error);
}
---
<footer class="row">
    <div class="col-12 footer-text text-center">
        <FooterText siteName="Last Sunrise" siteURL="https://lastsunrise.art" estYear="2023" !isChildSite ></FooterText>
    </div>
    <div class="footer-filler"></div>
</footer>