---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/global.css";

const { title, extraClasses, rColWidth, lColWidth } = Astro.props;
---
<section class="row">
    <article class={`"col-12"`}>
        <slot name="pretext"/>
    </article>
    
    <article class={`col-12 col-lg-${lColWidth}`}>
        <slot name="col-l"/>
    </article>
    <article class={`col-12 col-lg-${rColWidth}`}>
        <slot name="col-r"/>
    </article>
</section>