---
import RyojiLayout from "../../layouts/RyojiLayout.astro";

const title = "Refracted";
const description = "A fansite dedicated to Ryoji Mochizuki from Persona 3";
---
<RyojiLayout title={title} description={description}>
    <h2>The Persona Series</h2>
    <div class="col-12">
        <p>
            
        </p>
    </div>
</RyojiLayout>