---
import RyojiLayout from "../../layouts/RyojiLayout.astro";

const title = "Refracted";
const description = "A fansite dedicated to Ryoji Mochizuki from Persona 3";
---
<RyojiLayout title={title} description={description}>
    <h2>Profile</h2>
    <div class="col-lg-8 col-12 infobox">
        <p>
            <b>Name:</b> Ryoji Mochizuki <br>
            <b>Aliases:</b> Pharos, Thanatos, Death, The Appriser, Nyx Avatar <br>
            <b>First Appears:</b> April 6 (Pharos), April 9 (Thanatos),  November 9 (Ryoji), January 31 (Nyx Avatar) <br>
            <b>Age:</b> Timeless, but this particular fragment of Death is 10-11 years old <br>
            <b>Height:</b> 179cm (5'10")<br>
            <b>Homeroom:</b> 2-F <br>
            <b>Arcana:</b> Death, Fortune <br>
            <b>Theme Color:</b> Black <br>
            <b>Leitmotif:</b> Mistic <br>
        </p>
    </div>
</RyojiLayout>