---
import RyojiLayout from "../../layouts/RyojiLayout.astro";

const title = "Refracted";
const description = "A fansite dedicated to Ryoji Mochizuki from Persona 3";
---
<RyojiLayout title={title} description={description}>
    <h2>Profile</h2>
    <p>Who even is this guy lol</p>
</RyojiLayout>