---
import SectionOneColumn from "../components/SectionOneColumn.astro";
import MainLayout from "../layouts/MainLayout.astro";

const title = "Blog";
const description = "Blog posts by Cat";
const allPosts = Object.values(await import.meta.glob('./blog/*.mdx', { eager: true }));
---
<MainLayout title={title} description={description}>
    <SectionOneColumn>
        <p>This page will look better soon, w/ actual inline blog posts and not sorted in alphabetical order ^-^;;</p>


        <!--
        <ul>
            {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
        </ul>
        -->
    </SectionOneColumn>
</MainLayout>