---
import SectionOneColumn from "../components/SectionOneColumn.astro";
import MainLayout from "../layouts/MainLayout.astro";

const title = "Page Graveyard";
const description = "Deleted Last Sunrise webpages from times past";
---
<MainLayout title={title} description={description}>
    <SectionOneColumn>
        <h2>{title}</h2>
        <li><a href="/graveyard/index-v1">Index V1</a> - (02/22/23-06/01/23) A mess and a half that used iframes of all things for sidebars and other components I did not want to comb through every page to update. This was a page made by a version of me who thought they knew everything about webdev because they spent their childhood editing OC profiles. Naturally, I was humbled, and quickly moved onto v2 with everything I learned here.</li>
        <li><a href="/graveyard/index-v2">Index V2</a> - (06/01/23-01/??/25) Oh yeah wooyeah.</li>
    </SectionOneColumn>
</MainLayout>