---
import SectionOneColumn from "../components/SectionOneColumn.astro";
import MainLayout from "../layouts/MainLayout.astro";

const title = "Webpage Graveyard";
const description = "Deleted Last Sunrise webpages from times past";
---
<MainLayout title={title} description={description}>
    <SectionOneColumn>
        <h2>{title}</h2>
        <p>Below is a list of pages I've decided to delete from the main website for any number of reasons.</p>
        <p>Perhaps delete isn't the best choice of words, every link below is at least mostly functional. For one, I believe in media preservation over my own distaste for some of these pages. If some hypothetical person might be able to benefit from dissecting my code, understanding the choices I made and how I've learned since, that's all the reason I need. Besides, it's kind of fun to look down at memory lane sometimes.</p>
        <p>Be warned, the pages below will be laggy, awkwardly designed, horribly inaccessible and almost completely unresponsive. I've done what I can to make them at least somewhat viewable on whatever device, but there's only so much that can be done.</p>

        <!-- format w/ preview image, dates active, deletion reason, and a section for blathering -->
        <li><a href="/graveyard/index-v1">Index V1</a> - (02/22/23-06/01/23) A mess and a half that used iframes of all things for the sidebars and footers I did not want to comb through every page to update. This was a page made by a version of me who thought they knew everything about webdev because they spent their childhood editing OC profiles. Naturally, I was humbled, and quickly moved onto v2 with everything I learned here.</li>
        <li><a href="/graveyard/index-v2">Index V2</a> - (06/01/23-01/??/25) Oh yeah wooyeah.</li>
        <li><a href="/graveyard/wcn">What Comes Next?</a> - (10/26/23-11/07/23) This was a page made for a D&D campaign I ran my freshman year of college. I like the page design a lot! I really mastered the art of putting image assets into CSS (I'm still very proud of those corner pieces). Unfortunately, this page suffers the same issue as the rest of v2--the code is far too bloated to be usable. Not to mention the art style is very...unfitting of the vibes I was going for.</li>
    </SectionOneColumn>
</MainLayout>