---
import MainLayout from "../layouts/MainLayout.astro"
import SectionMascot from "../components/SectionMascot.astro";

const title = "Home";
const description = "A personal website";

const mascotActive = true;
---
<MainLayout title={title} description={description} mascotActive={mascotActive}>
    <SectionMascot>
        <h2>Hello and Welcome</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut felis egestas, maximus felis sed, molestie erat. Donec placerat ultricies mi id tempus. Nullam venenatis urna sit amet magna cursus vehicula. Aliquam volutpat ex et nunc ultrices, et gravida elit eleifend. Pellentesque eget magna a ex pellentesque fermentum vel molestie justo. Phasellus suscipit metus sapien, eget consequat justo interdum eget. Sed imperdiet, dolor ac commodo elementum, neque leo elementum enim, eget molestie augue turpis in neque.</p>
        <p>Proin placerat dapibus augue sed pretium. Nam lacinia lectus a efficitur blandit. Suspendisse sit amet odio pulvinar, ornare felis a, pulvinar sem. Aenean elit ipsum, semper vel sem at, tincidunt euismod enim. Fusce dapibus sed purus nec iaculis. Aenean molestie, est ac feugiat bibendum, tortor tortor efficitur erat, eget volutpat purus nunc pulvinar ante. Integer convallis feugiat mauris, ut aliquet massa laoreet at. Suspendisse aliquet sagittis odio quis vehicula. Nam non elit in lectus iaculis convallis nec vitae arcu. Donec sit amet orci dui. Proin pretium vehicula dignissim. Integer tincidunt elit sem, at aliquet ante vestibulum et.</p>
        <p>Suspendisse nec commodo nibh. Sed sit amet gravida neque. Ut odio nisi, tincidunt quis imperdiet et, egestas at mauris. In eget augue vulputate, euismod est in, porttitor lacus. Curabitur et pellentesque lorem. Praesent porta elementum sem, at egestas neque tristique eget. Nam aliquam sapien at lorem tristique, vel porta lacus venenatis. Cras lectus dolor, sollicitudin at laoreet nec, eleifend id turpis. Fusce sodales augue eget urna sagittis, ut tristique urna convallis. Praesent erat leo, malesuada id tincidunt ac, tristique non odio.</p>
    </SectionMascot>
</MainLayout>