---
import "bootstrap/dist/css/bootstrap.min.css";
---
<style>
    * {
        background-color: rgba(0, 0, 255, 0.181);
    }
</style>

<div class="container">
    <div class="row">
        <header class="col-12">
            <h1>Last Sunrise</h1>
            <nav>
                <li>Home</li>
                <li>About</li>
            </nav>
        </header>
        <main>
            <p>Hello...</p>
        </main>
        <footer>
            <p>Last Sunrise est. 2022 // Last updated MM/DD/YYYY</p>
        </footer>
    </div>
</div>