---
import MainLayout from "../layouts/MainLayout.astro"
import SectionMascot from "../components/SectionMascot.astro";

const title = "Home";
const description = "A personal website";

const mascotActive = true;
---
<MainLayout title={title} description={description} mascotActive={mascotActive}>
    <SectionMascot>
        <p>Welcome to Last Sunrise, my tiny corner of the internet. This is a space for me to celebrate my life: my art, hobbies, and other interests! This website was a pet project I started when I was still teenaged as my part in the <a href="https://32bit.cafe/mission/">small web</a> movement; I complain so much about social media, so why not step away from it?</p>
        <p>This website isn't much in terms of content right now due to my crushing perfectionism and need to make every page into an exercise of UI design, but updates will be regular. You can follow updates on either <a href="https://neocities.org/site/lastsunrise">Neocities</a>, <a href="https://nekoweb.org/follow/lastsunrise">Nekoweb</a>, or through my various <a href="/rss">RSS</a> feeds. I hope you enjoy your stay!</p>
        <div class="card">
            <p>Last Sunrise is currently on <strong>Version 3</strong>. I rebuilt the entire thing from scratch (again), which you can read about <a href="/blog/v3">here</a>. In short, it was way more effort than it was worth to make any updates to my site. But now I'm back and better than ever with a static site generator and a dream.</p>
        </div>
        <hr>
    </SectionMascot>
</MainLayout>