---
import MainLayout from "../layouts/MainLayout.astro"
import SectionMascot from "../components/SectionMascot.astro";

const title = "Home";
const description = "A personal website";

const mascotActive = true;
---
<MainLayout title={title} description={description} mascotActive={mascotActive}>
    <SectionMascot>
        <h2>Hello and Welcome</h2>
        <p>Welcome to Last Sunrise, my tiny corner of the internet. This is a space for me to celebrate my life: my art, hobbies, and other interests! This is also a space that serves as my piece in the <a href="https://32bit.cafe/mission/">small web</a> movement; I complain so much about social media, so why not play my part, however small, in stepping away from that?</p>
        <p>The website is currently on <strong>Version 3</strong>. I rebuilt the entire thing from scratch (again), which you can read about <a href="/blog/v3">here</a>. In short, it was way more effort than it was worth to make any updates to my site. But now I'm back and better than ever with a static site generator and a dream.</p>
        <div class="card">
            <p>To-dos</p>
            <ul>
                <li>Recreate image UI assets as SVGs</li>
            </ul>
        </div>
    </SectionMascot>
</MainLayout>