---
import "bootstrap/dist/css/bootstrap.min.css";
---
<style>
    * {
        background-color: rgba(0, 0, 255, 0.181);
    }
</style>

<div class="container">
    <div class="row">
        <header class="col-12">
            Header :-)
        </header>
    </div>
</div>