---
import MainLayout from "../layouts/MainLayout.astro"
import SectionOneColumn from "../components/SectionOneColumn.astro";

const title = "RSS Feeds";
const description = "";
const extraClasses = "text-center"
---
<MainLayout title={title} description={description}>
    <SectionOneColumn extraClasses={extraClasses}>
        <p>SUBSCRIBE TO MY FEEDS BOY!!!</p>
        <table class="table table-striped">
            <tr>
                <th>Changelogs</td>
                <td><a href="/changelog-rss.xml">https://lastsunrise.art/changelog-rss.xml</a></td>
            </tr>
            <tr>
                <th>Blog Posts</td>
                <td><a href="/blog-rss.xml">https://lastsunrise.art/blog-rss.xml</a></td>
            </tr>
        </table>
    </SectionOneColumn>
</MainLayout>