---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/preview.css";

const title = "Refracted";
const description = "A fansite dedicated to Ryoji Mochizuki from Persona 3";
---

<div class="container">
    <h1>{title}</h1>

    <nav class="navbar">
        <li>Home</li>
        <li>Exit</li>
    </nav>

    <h2>Welcome</h2>
    <p>Welcome to <em>{title}</em>, a fansite dedicated to the character of Ryoji Mochizuki (in all his forms) from the game <i>Persona 3</i>.</p>

    <h3>Table of Contents</h3>
    <ol>
        <li>Essence</li>
        <li>Purpose</li>
        <li>Bonds</li>
        <li>Proof</li>
        <li>Beyond</li>
    </ol>

</div>