---
import RyojiLayout from "../layouts/RyojiLayout.astro";

const title = "Refracted";
const description = "A fansite dedicated to Ryoji Mochizuki from Persona 3";
---
<RyojiLayout title={title} description={description}>
    <h2>Welcome</h2>
    <p>Welcome to <em>{title}</em>, a fansite dedicated to the character of Ryoji Mochizuki (in all his forms) from the game <i>Persona 3</i>.</p>

    <p>This page contains <em>major</em> spoilers for the plot of <i>Persona 3</i>. In fact, Ryoji's very existence is a spoiler in and of itself. If you have any plans to experience the game yourself, please don't read any further. Otherwise, for the folks who don't care about spoilers and haven't experienced the game, this site contains all the context you'll need to understand this character.</p>

    <h3>Table of Contents</h3>
    <ol start="0">
        <li>Atlas</li>
        <ol>
            <li>Welcome</li>
        </ol>
        <li>Essence</li>
        <ol>
            <li><a href="../../ryoji/profile">Profile</a></li>
        </ol>
        <li>Purpose</li>
        <li>Bonds</li>
        <li>Proof</li>
        <li>Beyond</li>
    </ol>
</RyojiLayout>