---
import MainLayout from "../layouts/MainLayout.astro";
const allPages = Object.values(import.meta.glob("./*.astro", {eager: true}));
---
<MainLayout title="Sitemap">
    {allPages.map((page: any) => <li><a href={page.url}>PAGE NAME</a></li>)}
</MainLayout>