---
import "bootstrap/dist/css/bootstrap.min.css";
//import "../styles/preview.css";
import "../styles/ryoji.css";



const siteTitle = "Refracted";
const { title, description } = Astro.props;
---
<html>
    <body>
        <div class="container px-4">
            <header class="row">
                <div id="title">
                    <h1>{siteTitle}</h1>
                    <h2>A <span class="focus">Ryoji Mochizuki</span> fansite</h2>
                </div>
                <nav class="navbar">
                    <li><a href="../../../../">Atlas</a></li>
                    <li>Essence</li>
                    <li>Recollection</li>
                    <li>Existence</li>
                    <li>Beyond</li>
                </nav>
            </header>

            <main class="row">
                <slot/>
            </main>
        </div>
    </body>
</html>