---
import "bootstrap/dist/css/bootstrap.min.css";
//import "../styles/preview.css";
import "../styles/ryoji.css";



const siteTitle = "Refracted";
const { title, description } = Astro.props;
---
<html>
    <body>
        <div class="container px-4">
            <header class="row">
                <div id="title" class="text-center text-lg-start">
                    <h1>{siteTitle}</h1>
                    <h2>A <span class="focus">Ryoji Mochizuki</span> fansite</h2>
                </div>
                <nav class="navbar">
                    <li><a href="../../../../">Atlas</a></li>
                    <li>Essence</li>
                    <li>Recollection</li>
                    <li>Existence</li>
                    <li>Beyond</li>
                </nav>
            </header>

            <main class="row m-4">
                <slot/>
            </main>

            <footer class="row">
                <div class="col-12 text-center">
                    <p>
                        <a href="../../../../">Refracted</a> est. 2025 // Last updated
                        <br>
                        <i>Refracted</i> is a part of the <a href="https://lastsunrise.art">Last Sunrise</a> network.
                        <br>
                        <a href="../../../copyright">Copyright</a> // <a href="mailto:cat@lastsunrise.art">Email</a>
                    </p>
                </div>
            </footer>
        </div>
    </body>
</html>