---
import { FooterText } from "../../../../packages/universal-components";
import SectionLinks from "../components/section-links.astro";

import "bootstrap/dist/css/bootstrap.min.css";
//import "../styles/preview.css";
import "../styles/ryoji.css";

const siteName = "Refracted";
const { title, description } = Astro.props;
---
<html>
    <head>
        <meta charset="utf-8"/>
    </head>

    <body>
        <div class="container px-5 py-3">
            <header class="row">
                <a class="no-style" href="./">
                    <div id="title" class="text-center text-lg-start">
                        <h1>{siteName}</h1>
                        <h2>A <span class="focus">Ryoji Mochizuki</span> fansite</h2>
                    </div>
                </a>
                <nav class="navbar navbar-expand-md justify-content-evenly">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="./">Atlas</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Essence</a>
                            <ul class="dropdown-menu">
                                <SectionLinks n="1" classes="dropdown-item"/>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./">Recollection</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./">Existence</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./">Beyond</a>
                        </li>
                    </ul>
                </nav>
            </header>

            <main class="row m-4">
                <slot/>
            </main>

            <footer class="row">
                <div class="col-12 text-center">
                    <FooterText siteName={siteName} siteURL="https://ryoji.lastsunrise.art" estYear="2025" isChildSite>
                        <p class="subtle">
                            &copy; ATLUS / SEGA. <i>Persona 3</i> and all related characters belong to their respective owners. This fansite is non-commercial and is created only to express my love for the original story told.
                        </p>
                    </FooterText>
                </div>
            </footer>
        </div>

        <script>import "bootstrap/js/dist/dropdown.js"</script>
    </body>
</html>