---
import { FooterText } from "../../../../packages/universal-components";

import "bootstrap/dist/css/bootstrap.min.css";
//import "../styles/preview.css";
import "../styles/ryoji.css";

const siteName = "Refracted";
const { title, description } = Astro.props;
---
<html>
    <body>
        <div class="container px-5 py-3">
            <header class="row">
                <div id="title" class="text-center text-lg-start">
                    <h1>{siteName}</h1>
                    <h2>A <span class="focus">Ryoji Mochizuki</span> fansite</h2>
                </div>
                <nav class="navbar justify-content-evenly">
                    <li><a href="../../../../">Atlas</a></li>
                    <li>Essence</li>
                    <li>Recollection</li>
                    <li>Existence</li>
                    <li>Beyond</li>
                </nav>
            </header>

            <main class="row m-4">
                <slot/>
            </main>

            <footer class="row">
                <div class="col-12 text-center">
                    <FooterText siteName={siteName} siteURL="https://ryoji.lastsunrise.art" estYear="2025" isChildSite>
                        <p class="subtle">
                            &copy; ATLUS / SEGA. <i>Persona 3</i> and all related characters belong to their respective owners. This fansite is non-commercial and is created only to express my love for the original story told.
                        </p>
                    </FooterText>
                </div>
            </footer>
        </div>
    </body>
</html>