---
import RyojiLayout from "./RyojiLayout.astro";

const { frontmatter } = Astro.props;
---
<RyojiLayout title={frontmatter.title}>
    <section class="col-12">
        <h2 class="focus">{frontmatter.title}</h2>
        <p>{frontmatter.description}</p>
        <p><a href={frontmatter.source}>Source</a></p>
        <hr>

        <blockquote>
            <slot/>
        </blockquote>

        <nav class="article-jump pt-5 px-5">
            &#8249; <a href="../transcripts">Return to Transcripts Hub</a>
        </nav>
    </section>
</RyojiLayout>