---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/global.css";
---
<div class="row">
    <footer class="col-12 text-center">
        <div>
            <p>Last Sunrise est. 2023 // Last updated MM/DD/YYYY</p>
            <p><a href="/sitemap">Sitemap</a> &#10023; <a href="/copyright">Copyright</a> &#10023; <a href="/rss">RSS</a> &#10023; <a href="mailto:cat@lastsunrise.art">Email</a></p>
        </div>
    </footer>
    <div class="footer-filler"></div>
</div>