---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/global.css";
---
<script>import "bootstrap/js/dist/dropdown.js"</script>

<header class="row">
    <div class="col-12 position-relative">
        <h1 id="logo" class="position-absolute translate-middle top-50 start-50">
            <a href="../../../../">
                <picture>
                    <source srcset="/images/logo-wide.svg" width="1000" media="(min-width: 992px)"/>
                    <source srcset="/images/logo-tall.svg" width="600" media="(min-width:576px)"/>
                    <img loading=eager width="500px" style="filter: drop-shadow(0 10px 4px #413e3d35)" src="/images/logo-tall.svg" alt="Last Sunrise"/>
                </picture>
            </a>
        </h1>
    </div>
</header>