---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/global.css";

const { mascotActive } = Astro.props;

import { Image } from "astro:assets";
import lsrLogoWide from "../images/logo-wide.png"
import lsrLogoTall from "../images/logo-tall.png"
---
<script>import "bootstrap/js/dist/dropdown.js"</script>

<div class="row">
    <header class="col-12 position-relative">
        <h1 id="logo" class="position-absolute translate-middle top-50 start-50">
            <picture>
                <source srcset="../src/images/logo-wide.png" width="1000" media="(min-width: 992px)"/>
                <source srcset="../src/images/logo-tall.png" width="600"/>
                <Image src={lsrLogoTall} alt="hi"/>
            </picture>
        </h1>
    </header>
    <nav class={`navbar navbar-expand-lg justify-content-around ${mascotActive ? "mascotActive" : ""}`}>
        <div class="navbar-nav">
            <a class="nav-link" href="../../">Home</a>
            <a class="nav-link" href="../about">About</a>
            <a class="nav-link" href="../works">Works</a>
            <a class="nav-link" href="../blog">Blog</a>
            <a class="nav-link" href="../shrines">Shrines</a>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" href="../links">Links</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="../graveyard">Page Graveyard</a></li>
                </ul>    
            </li>
        </div>
    </nav>
</div>