---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/global.css";

import { Image } from "astro:assets";
import lsrLogoWide from "../images/logo-wide.png"
import lsrLogoTall from "../images/logo-tall.png"
---
<script>import "bootstrap/js/dist/dropdown.js"</script>

<div class="row">
    <header class="col-12 position-relative">
        <h1 id="logo" class="position-absolute translate-middle top-50 start-50">
            <picture>
                <source srcset="../../src/images/logo-wide.png" width="1000" media="(min-width: 992px)"/>
                <source srcset="../../src/images/logo-tall.png" width="600" media="(min-width:576px)"/>
                <source srcset="../../src/images/logo-tall.png" width="500" />
                <Image loading=eager style="filter: drop-shadow(0 10px 4px #413e3d35)" src={lsrLogoTall} alt="Last Sunrise"/>
            </picture>
        </h1>
    </header>
    
</div>