---
const { mascotActive } = Astro.props;
---

<nav class={`navbar navbar-expand-md justify-content-around mb-4 ${mascotActive ? "mascotActive" : ""}`}>
    <div class="navbar-nav">
        <a class="nav-link" href="../../../../">Home</a>
        <a class="nav-link" href="../../about">About</a>
        <a class="nav-link" href="../../works">Works</a>
        <a class="nav-link" href="../../blog">Blog</a>
        <a class="nav-link" href="../../shrines">Shrines</a>
        <li class="dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" href="../../links">Links</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../../graveyard">Page Graveyard</a></li>
            </ul>    
        </li>
    </div>
</nav>