---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/global.css";

const { title, description } = Astro.props;
---
<section class="col-4">
    <slot name="col-l"/>
</section>
<section class="col-8">
    <slot name="col-r"/>
</section>