---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/global.css";

const { title } = Astro.props;

import { Image } from "astro:assets";
import heliosMascotImage from "../images/helios-index.png"

// 1 column section with the site mascot included :-)
---
<html>
    <figure id="mascot">
        <Image class="float-md-start mx-auto d-block" width="400"
            src={heliosMascotImage}
            alt="Helios" 
            style="max-width:100%; height:auto;"
            loading="eager"/>
    </figure>
    <section class="col-12">
        <slot>
    </section>
</html>