---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/global.css";

const { title, extraClasses, rColWidth, lColWidth } = Astro.props;
---
<div class="row">
    <section class={`"col-12"`}>
        <slot name="pretext"/>
    </section>
    
    <section class={`col-12 col-lg-${lColWidth}`}>
        <slot name="col-l"/>
    </section>
    <section class={`col-12 col-lg-${rColWidth}`}>
        <slot name="col-r"/>
    </section>
</div>