---
import "../../../styles/index-v1.css";
---
<head>
    <base target="_blank">
    <style>
        body {
            background-color: var(--dark);
            background-image: none;
            text-align: center;
            font-size: small;
        }
    </style>
</head>
<body>
    <div class="marquee">
        <ul class="bannerroll" style="list-style-type:none;padding:0px;">
            <li><img src="/images/graveyard/handcoded.gif" alt="completely hand-coded!"></li>
            <li><img src="/images/graveyard/fftake.gif"></li>
            <li><img src="/images/graveyard/anomalocaris.gif"></li>
            <li><img src="/images/graveyard/hamsterbuddies.gif"></li>
            <li><img src="/images/graveyard/neowebdev.gif"></li>
            <li><img src="/images/graveyard/queer.png"></li>
            <li><img src="/images/graveyard/vscbutton.gif"></li>
            <li><img src="/images/graveyard/internetarchive.gif"></li>
            <li><img src="/images/graveyard/mafia.jpg"></li>
            <li><img src="/images/graveyard/chrome2.gif"></li>
            <li><img src="/images/graveyard/arizona.gif"></li>
            <li><img src="/images/graveyard/glue.jpg"></li>
            <li><img src="/images/graveyard/catscape.gif"></li>
            <li><img src="/images/graveyard/blehhhh.gif"></li>
            <li><img src="/images/graveyard/bob.gif"></li>
            <li><img src="/images/graveyard/buttons2019.gif"></li>
            <li><img src="/images/graveyard/dream_coloured.gif"></li>
            <li><img src="/images/graveyard/lovesylveon.gif"></li>
            <li><img src="/images/graveyard/trans.jpg"></li>
            <li><img src="/images/graveyard/weezerfan.gif"></li>
        </ul>
    
        <ul class="bannerroll" style="list-style-type:none;padding:0px;">
            <li><img src="/images/graveyard/handcoded.gif" alt="completely hand-coded!"></li>
            <li><img src="/images/graveyard/fftake.gif"></li>
            <li><img src="/images/graveyard/anomalocaris.gif"></li>
            <li><img src="/images/graveyard/hamsterbuddies.gif"></li>
            <li><img src="/images/graveyard/neowebdev.gif"></li>
            <li><img src="/images/graveyard/queer.png"></li>
            <li><img src="/images/graveyard/vscbutton.gif"></li>
            <li><img src="/images/graveyard/internetarchive.gif"></li>
            <li><img src="/images/graveyard/mafia.jpg"></li>
            <li><img src="/images/graveyard/chrome2.gif"></li>
            <li><img src="/images/graveyard/arizona.gif"></li>
            <li><img src="/images/graveyard/glue.jpg"></li>
            <li><img src="/images/graveyard/catscape.gif"></li>
            <li><img src="/images/graveyard/blehhhh.gif"></li>
            <li><img src="/images/graveyard/bob.gif"></li>
            <li><img src="/images/graveyard/buttons2019.gif"></li>
            <li><img src="/images/graveyard/dream_coloured.gif"></li>
            <li><img src="/images/graveyard/lovesylveon.gif"></li>
            <li><img src="/images/graveyard/trans.jpg"></li>
            <li><img src="/images/graveyard/weezerfan.gif"></li>
        </ul>
    </div>
    
    <p style="color:var(--light);margin-top:5px;">Last Sunrise est. 2023 &#9734; Last updated <span id="lastupdate">04/20/2023</span><br><a role="link" aria-disabled="true">Neocities Profile</a> // <a role="link" aria-disabled="true">Email</a></p>
</body>