---
import "../../graveyard/index-v1.css";
---
<head>
    <style>
        body {
            background-color: var(--tan);
            background-image: none;
            text-align: left
        }

        div {
            text-align: center;
        }

        p {
            margin: 10px;
        }
    </style>
</head>
<body>
    <h2 class="navtitle">Currently</h2>
    
    <p style="margin-top:3px;"><b>Status:</b></p>
    <div id="statuscafe"><div id="statuscafe-username"><a href="http://web.archive.org/web/20230312045757/https://status.cafe/users/lastsunrise" target="_blank">lastsunrise</a> &#129395; 23 hours ago</div><div id="statuscafe-content">finally.... spring break i'm free (for a week)</div></div><script src="http://web.archive.org/web/20230312045742js_/https://status.cafe/current-status.js?name=lastsunrise" defer=""></script>
    
    <div style="text-align:center;"><b>Mood:</b><br><a href="http://web.archive.org/web/20230312045742/https://www.imood.com/users/lastsunrise"><img src="http://web.archive.org/web/20230312045742im_/https://moods.imood.com/display/uname-lastsunrise/trans-1/imood.gif" alt="Cat's current mood" style="padding:0px"></a></div>
    <hr>
    
    <p><b>Watching:</b> Doctor Who<br>
        <b>Playing:</b> Cookie Clicker<br>
        <b>Reading:</b> N/A<br>
        <b>Listening:</b> In Progress...<br>
    </p>
    
    <h2 class="navtitle" style="margin-bottom:10px;">Changelog</h2>
    <div style="height:250px;overflow-y:scroll;padding-left:0px;">
        <p class="logentry"><b>March 11, 2023</b> - Made a webpages collection, and most of the about page</p>
        <p class="logentry"><b>March 8, 2023</b> - Last Sunrise v1 is officially live!! Just the homepage though ^^;;</p>
    </div>
</body>