---
import { sortArticles } from "../../public/scripts/sortArticles.ts";

const articles = await sortArticles();

const n = parseInt(Astro.props.n);
const classes = Astro.props.classes;
const showDesc = Astro.props.showDesc;

function getArticlesForSection(sectionNumber) {
    return articles.filter((article) => article.data.section === sectionNumber);
}

---
{getArticlesForSection(n).map((article) => (
    <li>
        <a class={classes && classes} href={`/${article.id}`}>{article.data.title}</a>{showDesc && ` - ${article.data.description}`}
    </li>
))}