---
import "../../../styles/index-v1.css";
---
<head>
    <base target="_blank">
    <style>
        body {
            background-color: var(--tan);
            background-image: none;
            text-align: center;
        }

        div {
            text-align: center;
        }

        ul, a {
            text-align: left;
            padding-left: 5px;
            margin: 0px;
            list-style-type: none;
            line-height: 25px;
        }
    </style>
</head>
<body>
    <h2 class="navtitle">Navigation</h2>
    
    <ul class="navlinks">
        <li><a role="link" aria-disabled="true">Home</a></li>
        <li><a role="link" aria-disabled="true">About</a></li>
        <li><a href="blog.html" class="disabled">Blog</a></li>
        <li><a href="sitemap.html">Sitemap</a></li>
        <li><a role="link" aria-disabled="true">Guestbook</a></li>
    </ul>
    
    <h2 class="navtitle">Shrines</h2>
    
        <ul class="navlinks">
            <li><a href="shrines/doctor-who.html">Doctor Who</a></li>
        </ul>
    
    <h2 class="navtitle">Collections</h2>
    
        <ul class="navlinks">
            <li><a role="link" aria-disabled="true">Webpages</a> <img src="/images/graveyard/new.gif"></li>
            <li><a href="collections/books.html" class="disabled">Book Library</a></li>
            <li><a href="collections/pins.html" class="disabled">Pin Board</a></li>
            <li><a href="collections/plushies.html" class="disabled">Plushie Shelf</a></li>
        </ul>
    
    <h2 class="navtitle">Button</h2>
    
        <img id="mybutton" src="/images/graveyard/mybutton.gif" style="margin:10px;">
        <br>
        <textarea readonly="" style="resize:none;" data-dashlane-rid="d34254a9e4a4e7f3">&lt;a href="https://lastsunrise.neocities.org/"&gt;&lt;img src="https://lastsunrise.neocities.org/images/mybutton" alt="Last Sunrise Button"&gt;&lt;/a&gt;</textarea>
        <br>
        <div class="textbox">Hotlinking encouraged for specifically this button, juuust in case I change it some day :-P</div>
    
</body>