---
import "../../../styles/index-v1.css";
---
<head>
    <base target="_blank">
    <style>
        body {
            background-color: var(--tan);
            background-image: none;
            text-align: left
        }

        div {
            text-align: center;
        }

        p {
            margin: 10px;
        }
    </style>
</head>
<body>
    <h2 class="navtitle">Currently</h2>
    
    <p style="margin-top:3px;"><b>Status:</b></p>
    <div id="statuscafe"><div id="statuscafe-username">lastsunrise<br>&#10024; 2 days ago</div><div id="statuscafe-content">the demons won & i'm redoing the website from scratch &#128561;</div></div>
    
    <div style="text-align:center;"><b>Mood:</b><br><a href="https://www.imood.com/users/lastsunrise"><img src="http://web.archive.org/web/20230425231905im_/https://moods.imood.com/display/uname-lastsunrise/trans-1/imood.gif" alt="Cat's current mood" style="padding:0px"></a></div>
    <hr>
    
    <p><b>Watching:</b> Doctor Who<br>
        <b>Playing:</b> Cookie Clicker<br>
        <b>Reading:</b> N/A<br>
        <b>Listening:</b>  
        <span id="scrobble"><span id="scrobble-songname"><a href="https://www.last.fm/music/%E3%82%A2%E3%83%88%E3%83%A9%E3%82%B9%E3%82%B5%E3%82%A6%E3%83%B3%E3%83%89%E3%83%81%E3%83%BC%E3%83%A0/_/You+and+I" target="_blank">You and I</a> </span></span>
    
        <br>
    </p>
    
    <h2 class="navtitle" style="margin-bottom:10px;">Changelog</h2>
    <div id="updates" style="height:250px;overflow-y:scroll;padding-left:0px;">
        <p class="logentry"><b>April 20, 2023</b>
            <br>&#10022; Still some work to go, but I got the basics of the plushie collection down!
            <br>&#10022; Added some new site buttons
        </p><p class="logentry"><b>March 29, 2023</b>
            <br>&#10022; Made a new site mascot!
            <br>&#10022; Added a to-do list to the index
            <br>&#10022; The index is also now mobile friendly. It's not great, but it works!</p>
        <p class="logentry"><b>March 28, 2023</b>
            <br>&#10022; Added some more site buttons &amp; updated the url in my own button</p>
        <p class="logentry"><b>March 26, 2023</b>
            <br>&#10022; I registered an actual domain! Welcome lastsunrise.art !!
            <br>&#10022; Updated my email with the new domain
            <br>&#10022; Added a FAQ &amp; filled out the links tab on my <a href="/web/20230425231905/https://lastsunrise.art/about.html">about</a> page
            <br>&#10022; Other small quality of life changes around the whole website</p>
        <p class="logentry"><b>March 18, 2023</b>
            <br>&#10022; The Doctor Who shrine is now up!</p>
        <p class="logentry"><b>March 13, 2023</b>
            <br>&#10022; Updated my button &amp; fixed some typos</p>
        <p class="logentry"><b>March 11, 2023</b>
            <br>&#10022; Made a webpages collection, and most of the about page</p>
        <p class="logentry"><b>March 8, 2023</b>
            <br>&#10022; Last Sunrise v1 is officially live!! Just the homepage though ^^;;</p>
    </div>
</body>