---
import "../../styles/index-v2.css";
---
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    <div id="page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0 card bg-transparent">
                    <div class="p-0 header card-body bg-transparent">
                        <marquee class="p-2" id="newscroller">Back in school unfortunately... Slowly but surely figuring out the new schedule and finding my way back into sitebuilding!</marquee>
                        <img id="title" src="../src/images/graveyard/headertitle.png" alt="Last Sunrise">
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid text-center poster">
            <div class="row mt-2 wrapper">
                <div class="row pt-3 top">
                    <div class="col-3 card p-3 pr-0" style="padding-top:.45rem!important;padding-left:1.04rem!important;">
                        <div class="card-body p-0">
                            <h2 class="sideheader top">Navigation</h2>
                            <div id="navigation" class="list-group left">
                                <!---navigationitems array--->
                            <a href="/../" class="list-group-item list-group-item-action">Home</a><a href="/../about.html" class="list-group-item list-group-item-action">About</a><a href="/../blog/journals/aromanticism.html" class="list-group-item list-group-item-action">Blogs</a></div>
                            <h2 class="sideheader">Shrines</h2>
                            <div id="shrines" class="list-group left">
                                <!---shrineitems array--->
                            <a href="/../shrines/doctor-who.html" class="list-group-item list-group-item-action">Doctor Who</a><a href="/../shrines/ttrpgs/wcn.html" class="list-group-item list-group-item-action">Dungeons &amp; Dragons</a><a href="/../shrines/mgs.html" class="list-group-item list-group-item-action">Metal Gear</a></div>
                            <h2 class="sideheader">Collections</h2>
                            <div id="collections" class="list-group left">
                                <!---collectionitems array--->
                            <a href="/../collections/webpages.html" class="list-group-item list-group-item-action">Webpages</a><a href="/../collections/graphics.html" class="list-group-item list-group-item-action">Graphics</a></div>
                            <h2 class="sideheader">Creative</h2>
                            <div id="creative" class="list-group left">
                                <!---creativeitems array--->
                            <a href="/../creative/portfolio.html" class="list-group-item list-group-item-action">Portfolio</a><a href="/../creative/commissions.html" class="list-group-item list-group-item-action">Commissions</a><a href="/../creative/ocs.html" class="list-group-item list-group-item-action">OC Wiki</a></div>
                            <div class="list-group filler left"></div>
                        </div>
                    </div>

                    <!--- intro card --->
                    <div class="col-9 card p-0">
                        <div class="card-body p-0 mr-3">
                            <div class="col-12 card">
                                <div class="card-body pb-0">
                                    <img src="../src/images/graveyard/helios.png" width="350px" class="float-right" alt="A drawing of the site's mascot, Helios.">
                                    <img class="py-2" src="../src/images/graveyard/welcome.png" alt="Welcome!">
                                    <p>This is my tiny corner of the Internet where I celebrate my life &amp; personal interests. Here, you'll find a collection of art, musings and other things I find fun! This site is also a homage to the old web, a space where I hope to separate myself from the constraints and toxicity of social media in a space entirely my own.</p>
                                    <p>The site is currently on v2.0! I'm rebuilding the whole thing with Bootstrap from scratch, some of the programming on the original version was so messy that it took longer to sift through it than to actually build what I needed from scratch. Hopefully from here I can make something at least a bit more cohesive, but until then; sit down, relax and enjoy your stay here! Please sign my guestbook down below so I can check out your own page, or say hi on my <a href="https://neocities.org/site/lastsunrise">Neocities</a> profile!</p>
                                    <p><em>Warning: While this page works on mobile devices, viewing it on one is not ideal. Some day I might get around to making it more responsive, but it's not planned.</em></p>
                                </div>
                            </div>

                            <div class="col-12 card">
                                <div class="card-body">
                                    <div class="updatesheader">
                                        <img style="width:247px;" alt="Updates" src="../src/images/graveyard/updates.png">
                                    </div>
                                    <div class="updatesbox text-left p-3">
                                        <h3>v2.3 - <span id="v2x3">14 months ago</span></h3>
                                        <p>Procrastinating the actually important site updates with a mini update and a new shrine!</p>
                                        <ul>
                                            <li>MGS Shrine- What it says on the tin: the landing page for a new Metal Gear shrine to tide over my brainrot.</li>
                                        </ul>
                                        <p class="float-right button"><a href="blog/changes/v2_3.html">Read More &#129054;</a></p>
                                        <br>
                                    </div>

                                    <div class="updatesbottom"><br></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mid">
                    <div class="col-9 card p-3">
                        <div class="row">
                            <div class="col-4">
                                <div class="card-body ml-4 pl-0 stickynote text-left">
                                    <ul>
                                        <li><s>D&amp;D Campaign hub</s></li>
                                        <li>Minecraft shrine</li>
                                        <li>Remake pages from v1</li>
                                        <ul>
                                            <li>About</li>
                                            <li>Doctor Who shrine</li>
                                            <li>Webpage collection</li>
                                        </ul>
                                        <li>Gallifrey shrine</li>
                                        <li>Creative corner hub</li>
                                    </ul>
                                </div>

                                <div class="card-body ml-4 mt-3 navbox embed-responsive embed-responsive-1by1">
                                    <iframe class="embed-responsive-item" style="border:0;" src="https://dimden.neocities.org/navlink/" name="neolink"></iframe>
                                </div>
                            </div>

                            <div class="col-8">
                                <div class="card-body pt-0">
                                    <div class="guestbookheader">
                                        <img alt="Guestbook" src="../src/images/graveyard/guestbook.png" style="transform: translateY(-23px);">
                                    </div>
                                    
                                    <div class="guestbook">
                                        <iframe class="w-100 h-100" src="https://www.ultraguest.com/view/1685313407"></iframe>

                                        <p class="float-left button" style="margin-top:-2.9rem!important;position:relative;z-index:99"><a href="https://www.ultraguest.com/sign/1685313407">Sign Guestbook</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 card">
                        <div class="card-body">
                            <div class="sidebar">
                                <h2 class="sideheader m-0 top right">Status</h2>

                                <a href="https://status.cafe/users/lastsunrise" target="_blank"><div class="statusbox">
                                    <div id="statuscafe"><div id="statuscafe-username"><a href="https://status.cafe/users/lastsunrise" target="_blank">lastsunrise</a> ✨<br>413 days ago</div><div id="statuscafe-content" class="d-flex align-items-center">uncharacteristically frequent site updates are brought to you by procrastinating finals</div></div>

                                </div></a>
                                
                                <h2 class="sideheader m-0 right">Currently</h2>

                                <ul class="text-left m-3 ml-5 p-3 currently">
                                    <li><b>Fixation:</b> MGS, Doctor Who</li>
                                    <hr>
                                    <li><b>Watching:</b> N/A</li>
                                    <hr>
                                    <li><b>Playing:</b> MGSV</li>
                                    <hr>
                                    <li><b>Reading:</b> N/A</li>
                                    <hr>
                                    <li><b>Listening:</b>
                                        <span id="scrobble"><span id="scrobble-songname"><a href="https://www.last.fm/music/The+Shins/_/The+Rifle%27s+Spiral" target="_blank">The Rifle's Spiral</a> </span></span>

                                    </li>
                                    <hr>
                                    <li class="text-center"><a href="https://www.imood.com/users/lastsunrise"><img src="https://moods.imood.com/display/uname-lastsunrise/trans-1/imood.gif" alt="The current mood of lastsunrise at www.imood.com"></a></li>
                                </ul>

                                <div class="list-group filler right" style="left:inherit;right:.8rem!important;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pb-3 btm">
                    <div class="col-12 webheader">
                        <img src="../src/images/graveyard/more.png" style="width:440px;height:81px;" alt="More on the Web">
                    </div>
                    <div class="col-8 card order-2 pl-0">
                        <div class="card-body ringcontainer">
                            <p class="ring">
                                Retronaut Webring
                                <br>
                                <a href="https://webring.dinhe.net/prev/https://lastsunrise.art/">&#8592 Prev</a>
                                 // 
                                <a href="https://webring.dinhe.net/">Join</a>
                                 //
                                <a href="https://webring.dinhe.net/next/https://lastsunrise.art/">Next &#8594;</a>
                            </p>
                            
                            <p class="ring">
                                <a href="http://pkmn.caelestis.nu" target="_blank" rel="noopener noreferrer" style="border: 0px none; background: transparent;" title="I Choose You! :: GROWLITHE"><img src="../src/images/graveyard/growlithe.png" style="margin: auto -15px;"><br>I Choose You! :: GROWLITHE</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-4 card order-1 pr-0">
                        <div class="card-body">
                            <a href="https://gentlerepose.neocities.org/"><img src="../src/images/graveyard/GRbutton.png" alt="Matt / gentlerepose"></a>
                            <a href="https://abominablematthes.neocities.org/" class="sitebutton">Basil</a>
                            <a href="https://www.thomasricci.dev/"><img src="../src/images/graveyard/rud.png"></a>
                            <a href="https://npm-i.neocities.org/"><img src="../src/images/graveyard/octobuton.gif" alt="Octo / npm i"></a>
                            <a href="https://junery.neocities.org/"><img src="../src/images/graveyard/junerystars.gif" alt="junery"></a>
                            <a href="https://jeith.neocities.org/"><img src="https://jeith.com/assets/neocities/jeith.gif" alt="jeith"></a>
                            <a href="https://maddiemuu.neocities.org/"><img src="../src/images/graveyard/maddiemuu.png" alt="maddiemuu"></a>
                            <a href="https://bridget.neocities.org/"><img src="../src/images/graveyard/bridgetbutton2.gif" alt="bridget"></a>
                            <a href="https://sugarblush.neocities.org/"><img src="../src/images/graveyard/sugarblush_button.png" alt="sugarblush"></a>
                            <a href="https://item64.neocities.org/"><img src="../src/images/graveyard/item64.gif" alt="item64"></a>
                            <a href="https://icecreampizzer.neocities.org/"><img src="../src/images/graveyard/pizzer.gif" alt="icecreampizzer"></a>
                            <a href="https://phantasmagorial.neocities.org/"><img src="../src/images/graveyard/phantasmagorial.png" alt="phantasmagorial"></a>
                            <a href="https://robophobia.neocities.org/"><img src="../src/images/graveyard/robophobia_button.gif" alt="robophobia"></a>
                            <a href="https://gummiguts.neocities.org/" class="sitebutton">gummiguts</a>
                            <a href="https://meowii.neocities.org"><img src="../src/images/graveyard/meowiisitebutton.gif" alt="meowii"></a>
                            <a href="https://wasongo.art/"><img src="../src/images/graveyard/wasongo.gif" alt="wasongo"></a>
                            <a href="https://cinnamuff.neocities.org/"><img src="https://cinnamuff.neocities.org/cinnamuffbtn.png" alt="cinnamuff"></a>
				
                            
                            <div class="buttonbox m-3 p-3" data-dashlane-rid="c7a90da0f7d43408">
                                Link me?
                                <br>
                                <img src="../src/images/graveyard/mybutton2.gif">
                                <br>
                                <textarea readonly="" class="mt-3" style="resize:none;" data-dashlane-rid="05f89eb2e2b80a71">&lt;a href="https://lastsunrise.art"&gt;&lt;img src="https://lastsunrise.neocities.org/images/mybutton.gif" alt="Last Sunrise Button"&gt;&lt;/a&gt;</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="marquee">
                    <ul class="bannerroll">
                        <li><img src="../src/images/graveyard/handcoded.gif"></li>
                        <li><img src="../src/images/graveyard/fftake.gif"></li>
                        <li><img src="../src/images/graveyard/anomalocaris.gif"></li>
                        <li><img src="../src/images/graveyard/hamsterbuddies.gif"></li>
                        <li><img src="../src/images/graveyard/neowebdev.gif"></li>
                        <li><img src="../src/images/graveyard/queer.png"></li>
                        <li><a href="https://code.visualstudio.com/"><img src="../src/images/graveyard/vscbutton.gif"></a></li>
                        <li><img src="../src/images/graveyard/internetarchive.gif"></li>
                        <li><img src="../src/images/graveyard/mafia.jpg"></li>
                        <li><img src="../src/images/graveyard/chrome2.gif"></li>
                        <li><img src="../src/images/graveyard/arizona.gif"></li>
                        <li><img src="../src/images/graveyard/glue.jpg"></li>
                        <li><img src="../src/images/graveyard/catscape.gif"></li>
                        <li><img src="../src/images/graveyard/blehhhh.gif"></li>
                        <li><img src="../src/images/graveyard/bob.gif"></li>
                        <li><img src="../src/images/graveyard/buttons2019.gif"></li>
                        <li><img src="../src/images/graveyard/dream_coloured.gif"></li>
                        <li><img src="../src/images/graveyard/lovesylveon.gif"></li>
                        <li><img src="../src/images/graveyard/trans.jpg"></li>
                        <li><img src="../src/images/graveyard/weezerfan.gif"></li>
                        <li><a href="https://neo-neighborhoods.neocities.org/SoHo/"><img src="../src/images/graveyard/sohop88.gif"></a></li>
                    </ul>
                    <ul class="bannerroll">
                        <li><img src="../src/images/graveyard/handcoded.gif"></li>
                        <li><img src="../src/images/graveyard/fftake.gif"></li>
                        <li><img src="../src/images/graveyard/anomalocaris.gif"></li>
                        <li><img src="../src/images/graveyard/hamsterbuddies.gif"></li>
                        <li><img src="../src/images/graveyard/neowebdev.gif"></li>
                        <li><img src="../src/images/graveyard/queer.png"></li>
                        <li><a href="https://code.visualstudio.com/"><img src="../src/images/graveyard/vscbutton.gif"></a></li>
                        <li><img src="../src/images/graveyard/internetarchive.gif"></li>
                        <li><img src="../src/images/graveyard/mafia.jpg"></li>
                        <li><img src="../src/images/graveyard/chrome2.gif"></li>
                        <li><img src="../src/images/graveyard/arizona.gif"></li>
                        <li><img src="../src/images/graveyard/glue.jpg"></li>
                        <li><img src="../src/images/graveyard/catscape.gif"></li>
                        <li><img src="../src/images/graveyard/blehhhh.gif"></li>
                        <li><img src="../src/images/graveyard/bob.gif"></li>
                        <li><img src="../src/images/graveyard/buttons2019.gif"></li>
                        <li><img src="../src/images/graveyard/dream_coloured.gif"></li>
                        <li><img src="../src/images/graveyard/lovesylveon.gif"></li>
                        <li><img src="../src/images/graveyard/trans.jpg"></li>
                        <li><img src="../src/images/graveyard/weezerfan.gif"></li>
                        <li><a href="https://neo-neighborhoods.neocities.org/SoHo/"><img src="../src/images/graveyard/sohop88.gif"></a></li>
                    </ul>
                </div>
                <div class="col-12 card">
                    <div class="card-body">
                        Last Sunrise est. 2023 &#9734; Last updated <span id="updatedate"><span>01/24/25</span></span>
                        <br>
                        <a href="https://neocities.org/site/lastsunrise">Neocities</a> &#10023; <a href="sitemap.html">Sitemap</a> &#10023; <a href="copyright.html">Copyright</a> &#10023; <a href="mailto:cat@lastsunrise.art">Email</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="overlay"></div>
</body>