---
import "../../styles/index-v1.css";
---
<head>
    <style>
        :root {
            --height: 630px;
        }
    </style>
    <head>
        <title>Last Sunrise v1.0 // Index</title>
    </head>
</head>

<body>
    <div class="pagecontainer">
        <div class="pageitem mainheader" style="border-bottom:5px solid var(--dark);"> <!--page header-->
            <picture>
                <img src="/images/graveyard/v1header.jpg" alt="Last Sunrise v1.0 Banner">
            </picture>
        </div>

        <div class="leftsidebar pageitem" style="padding-bottom:0px">
            <iframe id="left" src="./subpages/index-v1-leftsidebar" width="228px" title="Left Sidebar" frameborder="0" style="height:var(--height)" data-ruffle-polyfilled=""></iframe>
        </div>

        <div class="mainsection pageitem">
            <div class="maincontainer">
                <div class="sectionitem" id="introtext">
                    <div id="pagedoll" style="margin-right: 10px;">
                        <img src="/images/graveyard/pagedoll-v1.png">
                    </div>
                    <h1>Welcome to the Last Sunrise &#9734;</h1>
                    <p>This a space for me to celebrate my own life &amp; interests in my own little corner of the internet. Created as a homage to Web 1.0, I'm hoping to use this as a sandbox to perfect my programming skills separate from the constraints and toxicity of social media.</p>
                    <p>Sit down, relax, and enjoy your stay here! Please sign my guestbook so I can check out your own page, or say hi on my <a role="link" aria-disabled="true">Neocities</a> profile!</p>
                    <img src="/images/graveyard/catwash.gif"><a href="http://www.mabsland.com/Adoption.html"><img src="/images/graveyard/Censor_14b.gif"></a>
                    <p><em>Warning: This page is NOT mobile friendly, or screenreader friendly. I'm planning on eventually making it responsive, but for right now please stick to a desktop or tablet!!</em></p>
                </div>

                <div class="sectionitem" id="todo">
                    <h1>Things To Do</h1>
                    <ul style="text-align: left;">
                        <li>Finish Plushie Islands page</li>
                        <li>Make a creative corner, with an OC wiki &amp; portfolio</li>
                        <li>Finish Missy reviews for DW shrine</li>
                        <ul>
                            <li>Basically everything else on the DW shrine too...</li>
                        </ul>
                        <li>Set up blog &amp; write first entry</li>
                        <li>Figure out themes &amp; make a dark mode</li>
                    </ul>
                </div>

                <div class="sectionitem" id="rings" style="padding: 20px 10px;">
                    <h1>Rings</h1>
                    <p class="ring">
                        Retronaut Webring<br>
                        <a href="https://webring.dinhe.net/prev/https://lastsunrise.art/">&#8592; Previous</a> // <a href="https://webring.dinhe.net/">Join</a> //
                        <a href="https://webring.dinhe.net/next/https://lastsunrise.art/">Next &#8594;</a>
                    </p>
                </div>

                <div class="sectionitem" id="neighbors">
                    <h1>Friends &amp; Mutuals</h1>
                    <p>
                        <a href="https://gentlerepose.neocities.org/"><img src="/images/graveyard/GRbutton.png" alt="Gentle Repose Button"></a>
                        <a href="https://www.thomasricci.dev/"><img src="/images/graveyard/rud.png" alt="Thomas Ricci"></a>
                        <a href="https://robophobia.neocities.org/"><img src="/images/graveyard/robophobia_button.gif"></a>
                        <a href="https://mellowmelodicas.neocities.org/"><img src="/images/graveyard/jeanettes.png"></a>
                        <a href="https://jeith.neocities.org/"><img src="/images/graveyard/jeith.jpg" alt="jeith"></a>
                        <a href="https://icecreampizzer.neocities.org/"><img src="/images/graveyard/pizzer.gif"></a>
                        <a href="https://phantasmagoria.neocities.org/"><img src="/images/graveyard/phantasmagorial.png"></a>
                        <a href="https://sugarblush.neocities.org/"><img src="/images/graveyard/sugarblush_button.png" alt="SugarBlush"></a>
                        <a href="https://snowiicat.neocities.org/"><img src="/images/graveyard/snowiicatbutton.png"></a>
                    </p>

                    <p>
                        Friends without buttons<br>
                        <a href="https://abominablematthes.neocities.org/">ABOMINANDUS</a> //
                        <a href="https://npm-i.neocities.org/">npm i</a>
                    </p>
                </div>

            </div>
        </div> 

        <div class="rightsidebar pageitem">
            <iframe id="right" src="./subpages/index-v1-rightsidebar" width="228px" title="Right Sidebar" frameborder="0" style="height:var(--height);" data-ruffle-polyfilled=""></iframe>
        </div>

        <div class="mainfooter pageitem">
            <iframe src="./subpages/index-v1-footer" height="100px" width="1140px" title="Footer" frameborder="0" data-ruffle-polyfilled=""></iframe>
        </div>
    </div>
</body>