---
import "../graveyard/index-v1.css";
---
<style>
    :root {
        --height: 630px;
    }
</style>

<body>
    <div class="pagecontainer">
        <div class="pageitem mainheader" style="border-bottom:5px solid var(--dark);"> <!--page header-->
            <img src="../src/images/graveyard/v1header.jpg" alt="Last Sunrise v1.0 Banner">
        </div>
        
        <div class="leftsidebar pageitem" style="padding-bottom:0px">
            <iframe src="../graveyard/index-v1-leftsidebar" width="228px" title="Left Sidebar" frameborder="0" style="height:var(--height)" data-ruffle-polyfilled=""></iframe>
        </div>
        
        <div class="mainsection pageitem">
            <div class="maincontainer">
                <div class="sectionitem" id="introtext">
                    <h1>Welcome to the Last Sunrise &#9734;</h1>
                    <p>This a space for me to celebrate my own life &amp; interests in my own little corner of the internet. Created as a homage to Web 1.0, I'm hoping to use this as a sandbox to perfect my programming skills separate from the constraints and toxicity of social media.</p>
                    <p>Sit down, relax, and enjoy your stay here! Please sign my guestbook so I can check out your own page, or say hi on my <a href="http://web.archive.org/web/20230312045742/https://neocities.org/site/lastsunrise">Neocities</a> profile!</p>
                    <img src="../src/images/graveyard/catwash.gif"><a href="http://web.archive.org/web/20230312045742/http://www.mabsland.com/Adoption.html"><img src="../src/images/graveyard/Censor_NYRb.gif"></a>
                    <p><em>Warning: This page is NOT mobile friendly, or screenreader friendly. I'm planning on eventually making it responsive, but for right now please stick to a desktop or tablet!!</em></p>
        
                </div>
        
                <div class="sectionitem" id="pagedoll" style="padding-left: 10px;">
                    <img src="../src/images/graveyard/pagedoll-v1.png" style="width:204px;">
                </div>
        
                <div class="sectionitem" id="rings">
                    <h1>Rings</h1>
                    <p>
                        None yet!
                    </p>
                </div>
        
                <div class="sectionitem" id="neighbors">
                    <h1>Neighbors</h1>
                    <p>
                        <a href="/https://koinuko.pink/"><img src="../src/images/graveyard/koinuko2.gif"></a>
                        <a href="/https://dokode.moe/"><img src="../src/images/graveyard/dokodemobutton3.gif"></a>
                        <a href="/https://cadnomori.neocities.org/home"><img src="../src/images/graveyard/kuramabanner.png"></a>
                        <a href="http://web.archive.org/web/20230312045742/https://theabsoluterealm.com/"> <img alt="the absolute realm" src="../src/images/graveyard/absolute-realm.gif"></a>
                        <a href="/https://dimden.dev/"><img src="../src/images/graveyard/88x31.gif"></a>
                    </p>
                </div>
        
            </div>
        </div> 
        
        <div class="rightsidebar pageitem">
            <iframe src="../graveyard/index-v1-rightsidebar" width="228px" title="Right Sidebar" frameborder="0" style="height:var(--height)" data-ruffle-polyfilled=""></iframe>
        </div>
        
        <div class="mainfooter pageitem">
            <iframe src="../graveyard/index-v1-footer" height="100px" width="1140px" title="Footer" frameborder="0" data-ruffle-polyfilled=""></iframe>
        </div>    
    </div>
</body>