---
import "../../styles/wcn.css";
---

<head>
    <title>What Comes Next? // Last Sunrise v2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&amp;family=Montserrat:wght@500&amp;display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
            <h1 class="titletext text-center">What Comes Next?</h1>
            <header class="row maincontainer top justify-content-center">
                <figure id="headerdeco" class="col-2">
                    <img id="ravenart" src="../../src/images/graveyard/wcnRavenIcon.png">
                </figure>
                <article class="infobox col-9">
                    <h3>Open your eyes...</h3>
                    <p>The gondola creaks and sways as the water gently splashes against the hull. It's peaceful here... too peaceful, and as you open your eyes to blackness a bitter, icy cold comes over you. You blink, regaining your focus as you try to find something, anything around you. A figure cloaked in rags is at the helm, sweeping its oar through the water. Beyond the gondolier is a jagged stone coast, two red dots flickering, the other faded behind the mist.</p>
                    <p>Where are you, why are you here, and most importantly, what comes next?</p>
                </article>
            </header>
            <section class="row">
                <nav class="col-2 sidebar left">
                    <h3 class="ml-4">Go To...</h3>
                    <ul id="navigation"><li class="active"><a href="/shrines/ttrpgs/wcn.html" class="active">Home</a></li><li><a href="/shrines/ttrpgs/wcn/sessions.html">Adventure Log</a></li><li><a href="/shrines/ttrpgs/wcn/characters.html">Characters</a></li><li><a href="/shrines/ttrpgs/wcn/wiki.html">Wiki</a></li><li><a href="/shrines/ttrpgs/wcn/gallery.html">Gallery</a></li></ul>
                </nav>
                <main class="col-8 maincontainer ctr">
                    <img class="mx-auto d-block mb-4" src="../../src/images/graveyard/linebreak.png">
                    <section class="text-center mb-4">
                        <p><em>What Comes Next?</em> is a dark fantasy, D&amp;D 5E campaign I run for my school with a focus on psychological horror, surrealism and, of course, mortality. The campaign itself is a homebrew setting within the afterlife, with heavy inspiration from Forgotten Realms.</p>
                        <p>The purpose of this page is to archive our sessions in a more permanent format than a Discord thread, as well as a wiki for my players to access important worldbuilding info as they discover it!</p>
                    </section>
                    <article class="infoscroll">
                        <h2>Last Session</h2>
                        <hr>
                        <h4> Forest's Lament - <span id="wcn1x3">14 months ago</span> <span class="float-right">(11/03/23)</span></h4>
                        <p>As the group heads deeper into the woods in search of the lost child, Douglas notices an oddly familiar shadow following them around. Only he can understand its words as it begs for help...</p>
                        <a href="wcn/sessions/p1x3.html" class="float-right button">Read more &#10137;</a>
                    </article>
                </main>
                <aside id="statsbar" class="col-2 pl-2 pt-5 sidebar right"><h3 style="margin-top: -35px;">The Cast</h3><article class="row"><div class="col-6"><a class="playericon" href="/shrines/ttrpgs/wcn/characters/bojangles.html"><img src="../../src/images/graveyard/blankcreatureicon.png"></a></div><div class="col-6"><a class="playericon" href="/shrines/ttrpgs/wcn/characters/douglas-fir.html"><img src="../../src/images/graveyard/blankcreatureicon.png"></a></div><div class="col-6"><a class="playericon" href="/shrines/ttrpgs/wcn/characters/salamander.html"><img src="../../src/images/graveyard/blankcreatureicon.png"></a></div><div class="col-6"><a class="playericon" href="/shrines/ttrpgs/wcn/characters/surge.html"><img src="../../src/images/graveyard/blankcreatureicon.png"></a></div></article><hr><article><ul><li><b>Game Master:</b> <a class="p-0" href="/../">Cat</a></li><li><b>Status:</b> Active</li></ul></article></aside>
            </section>
            <div class="row maincontainer btm">
                <figure class="cornerdeco float-right">
                    <img id="roseart" src="../../src/images/graveyard/rosedeco.png">
                </figure>
            </div>
        </div>
    
        <footer class="pt-4 row">
            <div class="col-12 gondolier"></div>
            <div class="col-12 footer pt-3 text-center">
                <p>Last Sunrise est. 2023 &star; Last updated <span id="updatedate"><span>01/11/24</span></span>
                <br>
                <a href="https://neocities.org/site/lastsunrise">Neocities</a> &#10023; <a href="/../sitemap.html">Sitemap</a> &#10023; <a href="/../copyright.html">Copyright</a> &#10023; <a href="mailto:cat@lastsunrise.art">Email</a></p>
            </div>
        </footer>
    
        <div class="overlay"></div>
</body>