---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/preview.css";
import "../styles/global.css";

import Header from "../components/Header.astro";
---
<html>
<body>
<div class="container">
    <Header/>

    <div class="row">
        <slot/>
    </div>

    <div class="row">
        <footer class="col-12 text-center">
            <p>Last Sunrise est. 2022 // Last updated MM/DD/YYYY</p>
            <p><a href="/sitemap">Sitemap</a></p>
        </footer>
    </div>
</div>
</body>
</html>