---
import "bootstrap/dist/css/bootstrap.min.css";
//import "../styles/preview.css";
import "../styles/global.css";

const { title, description, mascotActive } = Astro.props;

import HeadMeta from "../components/HeadMeta.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---
<html>
    <HeadMeta title={title} description={description}/>
    <body>
        <div class="container">
            <Header mascotActive={mascotActive}/>

            <div class="cloud-topper"></div>

            <main class="mx-4 px-4 py-2 content">
                <nav class={`navbar navbar-expand-lg justify-content-around ${mascotActive ? "mascotActive" : ""}`}>
                    <div class="navbar-nav">
                        <a class="nav-link" href="../../">Home</a>
                        <a class="nav-link" href="../about">About</a>
                        <a class="nav-link" href="../works">Works</a>
                        <a class="nav-link" href="../blog">Blog</a>
                        <a class="nav-link" href="../shrines">Shrines</a>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" href="../links">Links</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../graveyard">Page Graveyard</a></li>
                            </ul>    
                        </li>
                    </div>
                </nav>
                <slot/>
            </main>
        </div>
        <Footer/>
    </body>
</html>