---
import "bootstrap/dist/css/bootstrap.min.css";
//import "../styles/preview.css";
import "../styles/ryoji.css";

import HeadMeta from "../components/HeadMeta.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;
---
<html>
    <HeadMeta title={title} description={description}/>
    <body>
        <div class="container px-4">
            <header class="row">
                <h1>{title}</h1>
                <nav class="navbar">
                    <li>Atlas</li>
                    <li>Essence</li>
                    <li><a href="../../../../">Exit</a></li>
                </nav>
            </header>

            <main class="row">
                <slot/>
            </main>
            
            <Footer>
                <p>&copy; ATLUS / SEGA. <i>Persona 3</i> and all related characters belong to their respective owners. This fansite is non-commercial and is created only to express my love for the story told.</p>
            </Footer>
        </div>
    </body>
</html>