---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/preview.css";
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
const { title, description } = Astro.props;
---
<MainLayout title={title} description={description}>
    <div class="col-lg-4">
        <slot name="col-l"/>
    </div>
    <div class="col-lg-8">
        <h2>{title}</h2>
        <slot name="col-r"/>
    </div>
</MainLayout>